@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<p>
    <a asp-action="Index"><= Back</a>
</p>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <td>
                <input type="email" id="Email" name="Email">
            </td>
        </tr>
        <tr>
            <th>
                Old Password
            </th>
            <td>
                <input type="password" id="OldPassword" name="OldPassword">
            </td>
        </tr>
        <tr>
            <th>
                New Password
            </th>
            <td>
                <input type="password" id="NewPassword" name="NewPassword">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Change">
            </td>
        </tr>
    </table>
}
