@{
    ViewData["Title"] = "Change Role";
}

<h1>Change Role</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <td>
                <input type="email" id="Email" name="Email">
            </td>
        </tr>
        <tr>
            <th>
                Role
            </th>
            <td>
                <select name="Role" id="Role">
                    <option value="Admin">Admin</option>
                    <option value="Member">Member</option>
                </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Change">
            </td>
        </tr>
    </table>
}