@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Delete Employee</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <td>
                <input type="email" id="Email" name="Email">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Delete">
            </td>
        </tr>
    </table>
}